table.redTable {
    border: 2px solid #4caf50;
    background-color: #EEE7DB;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}
table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.redTable tbody td {
    font-size: 24px;
}
table.redTable tr:nth-child(even) {
    background: #F5C8BF;
}
table.redTable thead {
    background: #4caf50;
}
table.redTable thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #4caf50;
}
table.redTable thead th:first-child {
    border-left: none;
}

